<!-- 定义导航栏 -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="height: 200px">
    <div class="container">
        <svg viewBox="0 0 900 200" style="width: 400px;height: 200px">
            <symbol id="s-text">
                <text text-anchor="middle" x="40%" y="70%" class="text--line"><a style="color: #232323" href="{% url 'article:article_list' %}">Q's blog</a></text>
{#                <text text-anchor="middle" x="50%" y="68%" class="text--line">Text</text>#}
            </symbol>
            <g class="g-ants">
                <use xlink:href="#s-text" class="text-copy"></use>
                <use xlink:href="#s-text" class="text-copy"></use>
                <use xlink:href="#s-text" class="text-copy"></use>
                <use xlink:href="#s-text" class="text-copy"></use>
                <use xlink:href="#s-text" class="text-copy"></use>
            </g>
        </svg>
    </div>

</nav>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #4ac1f7">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">开发中 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">开发中</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                    栏目
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">建设中</a>
                    <a class="dropdown-item" href="#">建设中</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">建设中</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav">
            <!-- 条目 -->
            <li class="nav-item">
            </li>
            <!-- Django的 if 模板语句 -->
            {% if user.is_authenticated %}
                <!-- 如果用户已经登录，则显示用户名下拉框 -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        {{ user.username }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'article:article_create' %}">写文章</a>
                        <a class="dropdown-item" href="{% url "userprofile:logout" %}">退出登录</a>
                    </div>
                </li>
                <!-- 如果用户未登录，则显示 “登录” -->
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'userprofile:login' %}">登录</a>
                </li>
                <!-- if 语句在这里结束 -->
            {% endif %}
        </ul>
    </div>
</nav>


<style>
        .text--line {
            font-size: 150px;
        }

        svg {
            position: absolute;
            width: 100%;
            height: 100%;
        }

        .text-copy {
            fill: #232323;
            stroke: white;
            stroke-dasharray: 10% 15%;
            stroke-width: 5px;
            -webkit-animation: stroke-offset 14s infinite linear;
            animation: stroke-offset 14s infinite linear;
        }

        .text-copy:nth-child(1) {
            stroke: #360745;
            stroke-dashoffset: 7%;
        }

        .text-copy:nth-child(2) {
            stroke: #D61C59;
            stroke-dashoffset: 14%;
        }

        .text-copy:nth-child(3) {
            stroke: #E7D84B;
            stroke-dashoffset: 21%;
        }

        .text-copy:nth-child(4) {
            stroke: #EFEAC5;
            stroke-dashoffset: 28%;
        }

        .text-copy:nth-child(5) {
            stroke: #4ac1f7;
            stroke-dashoffset: 35%;
        }

        @-webkit-keyframes stroke-offset {
            50% {
                stroke-dashoffset: 35%;
                stroke-dasharray: 0 87.5%;
            }
        }

        @keyframes stroke-offset {
            50% {
                stroke-dashoffset: 35%;
                stroke-dasharray: 0 87.5%;
            }
        }
</style>
<script>

</script>