<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
{% load static %}

<!-- 写入 base.html 中定义的 title -->
{% block title %}
    文章详情
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'plugins/editor.md-master/css/editormd.css' %}"/>
    <link rel="stylesheet" href="{% static 'plugins/editor.md-master/css/editormd.preview.css' %}"/>
    <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon"/>



{% endblock css %}


<!-- 写入 base.html 中定义的 content -->
{% block content %}
    <!-- 文章详情 -->
    <div class="navbar navbar-expand-lg " style="justify-content: space-between;">
        <div>
            <a class="nav-link" href="{% url 'article:article_list' %}">返回</a>
        </div>
        {% if user == article.author %}
            <div style="float: right;display: flex">
                <div>
                    <a class="nav-link" href="#" onclick="confirm_safe_delete()">删除文章</a>
                </div>

                <div>
                    <a class="nav-link" href="{% url "article:article_update" article.id %}">编辑文章</a>
                </div>
                <!-- 新增一个隐藏的表单 -->
                <form
                        style="display:none;"
                        id="safe_delete"
                        action="{% url 'article:article_safe_delete' article.id %}"
                        method="POST"
                >
                    {% csrf_token %}
                    <button type="submit">发送</button>
                </form>

            </div>
        {% endif %}
    </div>

    <div class="container">
        <div class="row">
            <!-- 标题及作者 -->
            <h3 class="col-12 mt-4 mb-4">{{ article.title }}</h3>
            <div class="col-12" style="display: flex">
                <div style="border-radius: 5px;">
                    <i class="fas fa-eye" style="color: lightskyblue;"></i>
                    {{ article.total_views }}&nbsp;&nbsp;&nbsp;
                </div>
                <div style="color: gray;"><i class="fas fa-clock" style="color: pink;"></i>
                    {{ article.created|date:'Y-m-d' }} 发布&nbsp;&nbsp;&nbsp;
                </div>
                <div style="color: gray;">
                    {{ article.updated|date:'Y-m-d' }} 更新
                </div>
            </div>

            <!-- 文章正文 -->
            <div class="col-12">
                <div id="article-body" class="article-body"></div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block catalog %}
    <div class="card mt-2" style="position:relative;">
        <div class="card-body">
            <h4 class="card-title"><i class="fa-solid fa-list"></i>
                目录</h4>
            <div class="pannel article-toc" id="article-toc"></div>
        </div>
    </div>
{% endblock catalog %}




{% block js %}
    <script src="{% static 'plugins/editor.md-master/editormd.min.js' %}"></script>
    <script src="{% static 'plugins/editor.md-master/lib/marked.min.js' %}"></script>
    <script src="{% static 'plugins/editor.md-master/lib/prettify.min.js' %}"></script>
    <script src="{% static 'plugins/editor.md-master/lib/raphael.min.js' %}"></script>
    <script src="{% static 'plugins/editor.md-master/lib/underscore.min.js' %}"></script>
    <script src="{% static 'plugins/katex/katex.min.js' %}"></script>
    <script src="{% static 'plugins/editor.md-master/lib/sequence-diagram.min.js' %}"></script>

    <script>
        $(function () {

        })
        $.ajax({
            url: 'http://127.0.0.1:8000/article/get-article-body/',
            type: "get",
            dataType: "JSON",
            success:
                function (res) {
                    //将后台返回的数据，更新到option中
                    if (res.status) {
                        str = res.data.body;
                        markdown(str);
                    }
                }
        });

        function markdown(str) {
            // https://pandao.github.io/editor.md/
            var editor = editormd.markdownToHTML('article-body', {
                //详细配置 https://blog.csdn.net/qq_29645505/article/details/105591485
                //图片 https://blog.csdn.net/jxlhljh/article/details/123844743
                htmlDecode: "style,script,iframe",
                markdown: str, //待渲染的markdown文本字符串
                tocContainer: '#article-toc',	//指定目录容器的id
                tocDropdown: true,
                emoji: true,
                taskList: true,
                tex: true, // 默认不解析
                codeFold: true,
            });


        }

        //防范csrf攻击的删除
        function confirm_safe_delete() {
            layer.open({
                title: "确认删除",
                content: "确认删除这篇文章吗？",
                yes: function (index, layero) {
                    $('form#safe_delete button').click();
                    layer.close(index);
                }
            })
        }
    </script>
{% endblock js %}